.model{
    width: 70vw;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 0px -100px 40px -80px rgba(113, 16, 16, 0.77) inset;
    transition: width 0.5s;
}

.Main__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    flex-wrap: wrap;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50vw;
  align-self: center;
}

.form__field {
font-family: var(--font-family);
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-primary);
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-bottom 1s;
}
  .form__field::placeholder {
    color: transparent;
    font-family: var(--font-family);
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 25px;
    font-family: var(--font-family);
  }
#search__label{
    user-select: none;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 1rem;
  color: white;
  font-family: var(--font-family);
}

.form__field:focus {
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, var(--color-primary),#110928);
    border-image-slice: 1;
}
.form__field .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 1s;
  font-size: 1rem;
  color: #991113;
  font-weight:700;    
}

@media screen and (max-width: 650px){
    .model{
        width: 50vw;
        height: 50vh;
        transition: width 0.5s;
    } 
}
@media screen and (min-width: 750px){
    .model{
        width: 33vw;
        height: 50vh;
        transition: width 0.5s;
    }
    .Main__cont{
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px){
    .model{
        width: 20vw;
        height: 50vh;
        transition: width 0.5s;
    }  
}