.model{
  margin-top: 15px;
    width: 70vw;
    height: 50vh;
    /* border-radius: 50%;
    box-shadow: 0px -100px 40px -80px rgba(113, 16, 16, 0.77) inset; */
    transition: width 0.5s;
}
.model::part(default-progress-bar){
  background-color: var(--color-primary);
}
.Main__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    flex-wrap: wrap;
}

.escudo__cont{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
    box-shadow: 0px -100px 50px -80px rgba(113, 16, 16, 0.77) inset;
}


.escudo__detailsBtn{
  /* margin-top: 5px; */
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 8px;
  color:white;
  font-family: var(--font-family);
  font-size: 15px;
  padding: 5px;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
.escudo__detailsBtn:hover{
  scale: 1.1;
  transition: 0.4s;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50vw;
  align-self: center;
}

.form__field {
font-family: var(--font-family);
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-primary);
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-bottom 1s;
}
  .form__field::placeholder {
    color: transparent;
    font-family: var(--font-family);
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 25px;
    font-family: var(--font-family);
  }
#search__label{
    user-select: none;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 1rem;
  color: white;
  font-family: var(--font-family);
}

.form__field:focus {
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, var(--color-primary),#110928);
    border-image-slice: 1;
}
.form__field .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 1s;
  font-size: 1rem;
  color: #991113;
  font-weight:700;    
}

.paginationBtn{
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  outline: none;
 -webkit-tap-highlight-color: transparent; 
}
.paginationActive a{
  background-color: rgba(113, 16, 16, 0.77);
}
.paginationBtn a {
  padding: 5px 12px;
  font-size: 20px;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: var(--font-family);
}
.paginationBtn li:hover{
  transition: all 0.4s;
  scale: 1.05;
}

@media screen and (max-width: 650px){
    .model{
      margin-top: 15px;
        width: 65vw;
        height: 63vh;
        transition: width 0.5s;
    } 
}
@media screen and (min-width: 750px){
    
}
@media screen and (min-width: 1200px){
    .model{
      margin-top: 15px;
        width: 20vw;
        height: 50vh;
        transition: width 0.5s;
    }  
  .Main__cont{
      flex-direction: row;
  }
}